@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-Regular.otf");
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-Bold.otf");
	font-weight: bold ;
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-BoldItalic.otf");
	font-weight: bold ;
	font-style: italic ;
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-RegularItalic.otf");
	font-style: italic;
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-Medium.otf");
	font-weight: medium;
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-ExtraBold.otf");
	font-weight: 900 ;
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-ExtraBoldItalic.otf");
	font-weight: 900 ;
	font-style: italic ;
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-Light.otf");
	font-weight: 200;
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-LightItalic.otf");
	font-style: italic;
	font-weight: 200;
}
@font-face {
	font-family: GlacialIndifference;
	src: url("future/glacial-indifference/GlacialIndifference-Regular.otf");
}
@font-face {
	font-family: GlacialIndifference;
	src: url("future/glacial-indifference/GlacialIndifference-Bold.otf");
	font-weight: bold;
}

@font-face {
	font-family: Assistant;
	src: url("future/assistant/Assistant-VariableFont_wght.ttf");
}
h1 {
	font-family: GlacialIndifference;
	font-weight: bold;
}

h2 {
	font-family: Metropolis;
	font-style: italic;
	font-weight: 900;
}
h3 {
	font-family: Metropolis;
	font-style: italic;
	font-weight: bold;
}
h4 {
	font-family: Metropolis;
	font-style: italic;
}
p, ul {
	font-family: Assistant;
}
figcaption {
	font-family: Assistant;
	font-weight: 200;
}
.person {
	cursor: url("personicon.png"), 4, 12, auto ;
}
.event {
	cursor: url("eventicon.png"), 4, 12, auto;
}
.institution {
	cursor: url("companyicon.png"), 4, 12, auto;
}