@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-Regular.ttf");
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-Bold.ttf");
	font-weight: bold ;
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-BoldItalic.ttf");
	font-weight: bold ;
	font-style: italic ;
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-Italic.ttf");
	font-style: italic;
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-Medium.ttf");
	font-weight: medium;
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-ExtraBold.ttf");
	font-weight: 900 ;
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-ExtraBoldItalic.ttf");
	font-weight: 900 ;
	font-style: italic ;
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-Light.ttf");
	font-weight: 200;
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-LightItalic.ttf");
	font-style: italic;
	font-weight: 200;
}