@font-face {
	font-family: UnifrakturCook;
  	src: url("fonts/UnifrakturCook-Bold.ttf");
}

@font-face {
	font-family: "Duc de Berry Regular";
	src: url("fonts/Duc De Berry Regular.otf");
}


@font-face {
	font-family: GotischeInitialen;
	src: url("fonts/GotischeInitialen.ttf");
}

@font-face {
	font-family: Cristina;
	src: url("fonts/Cristina-Regular.ttf");
}

@font-face {
	font-family: CristinaSVG;
	src: url("fonts/Cristina-Regular-SVG.ttf");
}

@font-face {
	font-family: Initials;
	src: url("fonts/EichenlaubInitialen-vmDy.ttf");
}

.card.overflow, .flip-card-front, .flip-card-back, #topics, .card.Meta {  /*parziale da completare*/
	background-color: #F6EDDE !important;
	border-image: linear-gradient(to bottom left, #ae7f30, #b0863c, #f5ed6e, #ae7f30, #ae7f30) 1 !important;
        border: solid 4px;
        outline: solid 1px #504738;
}



p {
  color: #504738;
  font-family: UnifrakturCook;
  font-variant-ligatures: historical-ligatures; /*probably not going to work*/
  margin-top: 0; /*-------------serve davvero specificarlo?-----------*/
  font-size: 20px;
  line-height: 28px;
  /*background-image: linear-gradient(to bottom, black 1px, transparent 1px);
  background-size: auto 28px;
  padding-top: 8px;*/

  /*text-decoration: underline solid grey;*/
  /*background-image: linear-gradient(to top, black 1px, transparent 1px);*/ /* non trovo di meglio: la riga non è sulla baseline e lo spazio tra una riga e l'altra è fisso, di 1.5em; ovviamente è una baseline grid completamente fasulla*/
  /*background-size: auto 1.5em;*/
}


h2, h3, h4 {
  font-family: UnifrakturCook;
  font-size: 20px;
  line-height: 28px; /*unitless values for this property are multiplied with font size*/
  color: #A74640; 
  /*background-image: linear-gradient(to bottom, black 1px, transparent 1px);
  background-size: auto 28px;
  padding-top: 8px;*/
}


.card.overflow p {
  color: #504738;
  font-family: UnifrakturCook;
  font-variant-ligatures: historical-ligatures; /*probably not going to work*/
  margin-top: 0; /*-------------serve davvero specificarlo?-----------*/
  font-size: 20px;
  line-height: 28px;
  background-image: linear-gradient(to bottom, black 1px, transparent 1px);
  background-size: auto 28px;
  padding-top: 8px;
  margin-bottom: -8px;
}	

.card.overflow h2, .card.overflow h3, .card.overflow h4 {
  font-family: UnifrakturCook;
  font-size: 20px;
  line-height: 28px; /*unitless values for this property are multiplied with font size*/
  color: #A74640; 
  background-image: linear-gradient(to bottom, black 1px, transparent 1px);
  background-size: auto 28px;
  padding-top: 8px;
  height: auto;
  margin-bottom: -8px;
}

.card.overflow h1 {
  font-size: 30px;
  font-family: "Duc De Berry Regular";
  font-weight: bold;
  text-align: center;
  width: 60%;
  margin: auto;
  line-height: 50px;
}
  /* la line-height non la metto: è come se fosse il frontespizio del manoscritto*/

/*img {  /* per le immagini devi settare dei breakpoints per i vari @media in modo che siano coerenti con la baseline grid 
  width: auto;
  height: 10em;  em are relative to the em of the container <figure>, which inherits the font size from body(??)
  margin: none;
}*/

/*---------------questo blocco forse bisogna toglierlo?-------------
#article-1, #article-2, #article-3 {  
    padding-top: 20px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background-image: linear-gradient(to bottom, black 1px, transparent 1px);
    background-size: auto 20px;
}
*/



figure {
    font-size: 10px;
    line-height: 14px;
    font-family: 'UnifrakturCook';
    color: #A74640;
    width: 100%;
    margin: 0 0 1rem !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

img {
    width: 100%;
    border: ridge gold 0.2rem;
    outline: solid black 0.1rem;
    height:auto !important; 
}


/* non mettiamo la baseline grid anche sulle figcaption, che sono come delle glosse
figcaption {
  background-image: linear-gradient(to bottom, black 1px, transparent 1px);
  background-size: auto 28px;
}
*/ 
/*
 .card.overflow {
    background-image: linear-gradient(to right, black 1px, transparent 1px);
    background-position-x: 0.99rem;
    background-position: 0.99rem;
    background-size: calc(97% - 1rem);
}
*/

#article-1, #article-2, #article-3 {
	padding: 0 !important;
	border-left: solid 1px !important;
	border-right: solid 1px !important;
	border-radius: 0rem;
}

#col-num-1, #col-num-2, #col-num-3 {
	padding: 0.5rem 0.5rem;
}

/*------------prova così-----------*/
/*.card.overflow p::first-letter {
    font-family: 'Initials';
    color: #FCD642;
    font-size: 100px;
    float: left;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: inherit;
    font-weight: normal;
}
*/


.card.overflow p::before {
    background-image: url(https://dbrembilla.github.io/styleplayground/assets/pizan_style/miniatures/paraph_blue.png);
    background-size: 28px 28px;
    display: inline-block;
    width: 28px;
    height: 28px;
    content: "";
    float: left;
    margin-bottom: -10px;
}

.card.overflow blockquote p::before {  /*per le citazioni blockquote: non voglio paraph*/
    background-image: none !important;
    content: none !important;
}

.card.overflow ul {
    background-image: linear-gradient(to bottom, black 1px, transparent 1px);
    padding-left: 28px;
    background-size: auto 28px;
    margin-bottom: -8px;
}

.card.overflow li {
    list-style-type: disclosure-closed;
    font-family: UnifrakturCook;
    line-height: 28px;
    padding-top: 8px;
    margin-bottom: -8px;
}

/* per spaziare [solo] la prima lettera di ogni p, come su Harley 4431; meglio non metterlo: poco coerente con la scelta della griglia
.card.overflow p::first-letter {  
    letter-spacing: 0.15em;
}
*/

.card.overflow figure {
    margin: 0 0 28px 0 !important;
    padding: 28px 5px 0 !important;
}

blockquote {
    margin: 0 0 28px 0 !important;
    padding: 28px 0 0 0;
    font-style: italic;
    text-align: center;
}
