@font-face {
	font-family: UnifrakturCook;
  	src: url("fonts/UnifrakturCook-Bold.ttf");
}

@font-face {
	font-family: "Duc de Berry Regular";
	src: url("fonts/Duc De Berry Regular.otf");
}


@font-face {
	font-family: GotischeInitialen;
	src: url("fonts/GotischeInitialen.ttf");
}

@font-face {
	font-family: Cristina;
	src: url("fonts/Cristina-Regular.ttf");
}

@font-face {
	font-family: CristinaSVG;
	src: url("fonts/Cristina-Regular-SVG.ttf");
}

@font-face {
	font-family: Initials;
	src: url("fonts/EichenlaubInitialen-vmDy.ttf");
}

p {
  color: #504738;
  font-family: UnifrakturCook;
  font-variant-ligatures: historical-ligatures; /*probably not going to work*/
  margin-top: 0; /*-------------serve davvero specificarlo?-----------*/
  font-size: 20px;
  line-height: 28px;
  /*background-image: linear-gradient(to bottom, black 1px, transparent 1px);
  background-size: auto 28px;
  padding-top: 8px;*/

  /*text-decoration: underline solid grey;*/
  /*background-image: linear-gradient(to top, black 1px, transparent 1px);*/ /* non trovo di meglio: la riga non è sulla baseline e lo spazio tra una riga e l'altra è fisso, di 1.5em; ovviamente è una baseline grid completamente fasulla*/
  /*background-size: auto 1.5em;*/
}


h2, h3, h4 {
  font-family: UnifrakturCook;
  font-size: 20px;
  line-height: 28px; /*unitless values for this property are multiplied with font size*/
  color: #A74640; 
  height: 100%;
  /*background-image: linear-gradient(to bottom, black 1px, transparent 1px);
  background-size: auto 28px;
  padding-top: 8px;*/
}


.card.overflow p {
  color: #504738;
  font-family: UnifrakturCook;
  font-variant-ligatures: historical-ligatures; /*probably not going to work*/
  margin-top: 0; /*-------------serve davvero specificarlo?-----------*/
  font-size: 20px;
  line-height: 28px;
  background-image: linear-gradient(to bottom, black 1px, transparent 1px);
  background-size: auto 28px;
  padding-top: 8px;
}	
  /*text-decoration: underline solid grey;*/
  /*background-image: linear-gradient(to top, black 1px, transparent 1px);*/ /* non trovo di meglio: la riga non è sulla baseline e lo spazio tra una riga e l'altra è fisso, di 1.5em; ovviamente è una baseline grid completamente fasulla*/
  /*background-size: auto 1.5em;*/


.card.overflow h2, .card.overflow h3, .card.overflow h4 {
  font-family: UnifrakturCook;
  font-size: 20px;
  line-height: 28px; /*unitless values for this property are multiplied with font size*/
  color: #A74640; 
  background-image: linear-gradient(to bottom, black 1px, transparent 1px);
  background-size: auto 28px;
  padding-top: 8px;
}

.card.overflow h1 {
  font-size: 30px;
  font-family: "Duc De Berry Regular";
  /* la line-height non la metto: è come se fosse il frontespizio del manoscritto*/
}

/*img {  /* per le immagini devi settare dei breakpoints per i vari @media in modo che siano coerenti con la baseline grid 
  width: auto;
  height: 10em;  em are relative to the em of the container <figure>, which inherits the font size from body(??)
  margin: none;
}*/

/*---------------questo blocco forse bisogna toglierlo?-------------
#article-1, #article-2, #article-3 {  
    padding-top: 20px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background-image: linear-gradient(to bottom, black 1px, transparent 1px);
    background-size: auto 20px;
}
 */

/*-------------------------qui finisce la parte degli articoli, puoi pure specificare cose diverse per le altre sezioni del layout, ovviamente-------------------------------*/


figure {
    font-size: 10px;
    line-height: 14px;
    font-family: 'UnifrakturCook';
    color: #A74640;
    width: 99%;
    margin:auto;
    padding-top:20px;
    padding-bottom:20px;

}

img {
    width: 100%;
    border: ridge gold 0.2rem;
    outline: solid black 0.1rem;
}


/* non mettiamo la baseline grid anche sulle figcaption, che sono come delle glosse
figcaption {
  background-image: linear-gradient(to bottom, black 1px, transparent 1px);
  background-size: auto 28px;
}
*/ 
/*
 .card.overflow {
    background-image: linear-gradient(to right, black 1px, transparent 1px);
    background-position-x: 0.99rem;
    background-position: 0.99rem;
    background-size: calc(97% - 1rem);
}
*/

#article-1, #article-2, #article-3 {
	padding: 0 !important;
	border-left: solid 1px;
	border-right: solid 1px;
	border-radius: 0rem;
}

#col-num-1, #col-num-2, #col-num-3 {
	padding: 0.5rem 0.5rem;
}

/*------------prova così-----------*/
.card.overflow p::first-letter {
    font-family: 'Initials';
    color: #FCD642;
    font-size: 100px;
    float: left;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color:inherit;
}

