@font-face {
	font-family: "Unifraktur";
  	src: url("fonts/UnifrakturCook-Bold.ttf.ttf");
}

@font-face {
	font-family: "Duc de Berry Regular";
	src: url("fonts/Duc De Berry Regular.otf");
}

p {
  color: #504738;
  font-family: "Unifraktur";
  font-variant-ligatures: historical-ligatures;
}

h3 {
  font-family: "Duc De Berry Regular";
  color: #A74640;
}
