@font-face {
    font-family: 'Vogue';
    src: url("Vogue.ttf");
}

@font-face {
    font-family: 'Raleway';
    src: url("Raleway.ttf");
}
.container-fluid{
    border-left: 0px!important;
}

#download-button .sign{
    font-family: 'Raleway'!important;
    font-size: 1em!important;
   
}

#download-button{
    background: unset!important;
    border: 0px!important;
}

a.disappear, .sign{
    font-family:'Vogue'!important ;
    color: black!important;
    text-shadow: unset!important;
    font-size: 3em!important;
}


.fast-flicker, .flicker, a.disappear, .sign {
    animation: none!important;
}

