@font-face {
    font-family: 'Vogue';
    src: url("Vogue.ttf");
}

@font-face {
    font-family: 'Raleway';
    src: url("Raleway.ttf");
}

@font-face {
    font-family: 'Playfair Black';
    src: url("Playfair/Playfair-Black.ttf");
}


@font-face {
    font-family: 'Playfair BlackItalic';
    src: url("Playfair/Playfair-BlackItalic.ttf");
}


@font-face {
    font-family: 'Playfair Bold';
    src: url("Playfair/Playfair-Bold.ttf");
}

@font-face {
    font-family: 'Playfair Bold Italic';
    src: url("Playfair/Playfair-BoldItalic.ttf");
}

@font-face {
    font-family: 'Playfair Italic';
    src: url("Playfair/Playfair-Italic.ttf");
}

@font-face {
    font-family: 'Playfair';
    src: url("Playfair/Playfair-Regular.ttf");
}

@font-face {
    font-family: 'Maven';
    src: url("MavenPro-Medium.ttf");
}


body{
    font-family: 'Playfair'!important;
    font-size: 16px!important;
}
.card.overflow h2{
    font-size: 1.5em!important;
    font-family: 'Playfair Italic'!important;
}

.card.overflow p {
    text-align: justify!important;
}

h1, h2, h3{
    font-family: 'Playfair Bold Italic'!important;
}

#desc h2{
    font-size: 2em!important;
}
.container-fluid{
    border-left: 0px!important;
}

a.disappear, .sign{
    font-family:'Vogue'!important ;
    color: black!important;
    text-shadow: unset!important;
    font-size: 3em!important;
}

#download-button .sign, .reset{
    font-family: 'Raleway'!important;
    font-size: 1em!important;
   
}

#download-button{
    background: unset!important;
    border: 0px!important;
}


.fast-flicker, .flicker, a.disappear, .sign {
    animation: none!important;
}

#desc{
    border: 0px!important;
    color: black!important;
    background: white!important;
    box-shadow: unset!important;
    text-align: justify!important;
}

.text p:first-of-type::first-letter, .card.overflow p:first-of-type::first-letter{
    text-transform: capitalize!important;
    font-size:6em;
    vertical-align: -webkit-baseline-middle;
    font-family: 'Maven'!important;
    color: #e6335e!important;
}

#flip-card{
    border-bottom: 1px solid ;
}
#flip-card .flip-card-front, #flip-card .flip-card-back {
    background-color: white!important;
}

.flip-card-front h3, .flip-card-back h3, .card#topics h3, h3.cardTitle{
    font-family: 'Maven'!important;
    color: #e6335e!important;
    text-transform: uppercase!important;
}

.card#topics{
    background-color: white;
    border: 0px;
}

.btn-secondary, #topics, .dropbtn {
    color: black!important;
}

.text.overflow{
    padding-left: 4em;
    padding-right: 4em;
}

.card.Meta{
    border:0px;
}

#metaview-1 div ul, #metaview-2 div ul, #metaview-3 div ul   {
    width: 50%;
    border-top: 1px solid;
    border-bottom: 2.5px solid;
    column-rule: 1px solid;
    margin-top: 4%;
    padding: 3% 0;
}

.col-12 #metaview-1 div ul, .col-12 #metaview-2 div ul, .col-12 #metaview-3 div ul {
    width: 100%;
    column-count: 3;
}

.col-12 #metaview-1 div ul li, .col-12 #metaview-2 div ul li, .col-12 #metaview-3 div ul li {
    padding: 0.4em;
}


figcaption{
    display: none;
}

img{
    position: relative;
}

figcaption{
    position: absolute;
    top: 0%;
    right: 0%;
}
@media (max-height: 650px) {
    a.disappear, .sign{
        font-size: 2em!important;
    }
}

