@font-face {
    font-family: 'Vogue';
    src: url("Vogue.ttf");
}

.container-fluid{
    border-left: 0px!important;
}

a.disappear{
    font-family:'Vogue'!important ;
    color: black!important;
    text-shadow: unset!important;
    font-size: 3em!important;
}


.fast-flicker, .flicker, a.disappear {
    animation: none!important;
}

