.card.overflow {
  font-family: Helvetica;
  display: grid;
  grid-auto-columns: minmax(150px, auto);
  /*grid-auto-rows: minmax(200px, auto);*/
  grid-gap: 10px;
  grid-auto-flow: row;
}

/* Extra-wide grid-posts */
.card.overflow p {
  grid-column: span 2;
  font-family: "Times New Roman" !important;
  background-color: yellow;
}


.card.overflow h1 {
  grid-column: span 1;
  grid-column-start: 1;
  margin-bottom: 4rem;
}

.card.overflow h2 {
  grid-column-start: 2;
}

.card.overflow figure {
  grid-column-start: 1;
  grid-column-end: 2;
}

.card.overflow h3, .card.overflow h4 {
  grid-column-end: 3;
}
