/* p font size set to 16px*/

@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
  background-color: #db2f27 !important;
  
}

nav {
  background-color: #db2f27 !important;

}

.card.overflow {
  font-family: Helvetica;
  display: grid;
  grid-auto-columns: minmax(150px, auto);
  /*grid-auto-rows: minmax(200px, auto);*/
  grid-gap: 10px;
  grid-auto-flow: row;
}

/* Extra-wide grid-posts */
.card.overflow p {
  grid-column: span 2;
  background-color: yellow;
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 300;
  margin-bottom: 2.5rem;
  font-size: 1rem;
}


.card.overflow h1 {
  grid-column: span 1;
  grid-column-start: 1;
  margin-bottom: 4rem;
  font-family: "Roboto Mono", monospace;
  font-weight: 900;
  line-height: 1.5;
  font-size: 3.5rem;
}

.card.overflow h2 {
  grid-column-start: 2;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

.card.overflow figure {
  grid-column-start: 1;
  grid-column-end: 2;
}

.card.overflow h3, .card.overflow h4 {
  grid-column-end: 3;
  font-family: "Sarabun", sans-serif;
  font-weight: 800;
  text-transform: lowercase;
}

#row-article {
  padding: 0 1% !important;
}

.card.overflow figure {
  font-size: 0.75rem!important;
  font-family: "Sarabun", sans-serif;
  font-style: normal;
  font-weight: 100; 
}

.card.overflow > a {
  text-transform: lowercase;
  font-family: "Roboto Mono", monospace;
  font-weight: 600
}

.card.overflow li {
    list-style-type: circle;
    font-family: "Sarabun", sans-serif;
    text-transform: lowercase;
    font-weight: 100;
}

.card.overflow ul {
  padding-left: 1rem;
}

.card.overflow blockquote p {
  font-size: 1.3rem;
  font-weight: 500;
  font-family: "Sarabun";
  letter-spacing: 0.01rem;
}

nav *, footer {
	font-family: "Sarabun", "Helvetica", sans-serif !important;
	animation: none !important;
	text-shadow: none !important;
	border: none !important;
	background: transparent !important;
	color: #f3f3eb !important;
	font-weight: normal !important;
}

div.sign {
	color: #151515 !important;
}

nav a.disappear, nav span {
	color: #151515 !important;
	font-family: "Anton", sans-serif !important;
}

.btn-group :not(span) {
	background-color: #f3f3eb !important;
}


nav h3 {
	color: #f3f3eb !important;
}

#aside, section {
    border-bottom: none !important;
}

footer {
  background-color: #db2f27 !important;
}

body *:not(.flip-card-back) {  /*fondamentale, altrimenti non scrolla la card, boh*/
  border-radius: 0 !important;
}

/*--------------------*/


body * {
	box-shadow: none !important;

}

#desc {
	background-color: #f3f3eb !important;
	background-image: none !important;
    letter-spacing: normal !important;
    font-family: "Sarabun", sans-serif;
    font-weight: 100;
    color: #151515 !important;
    
}

#desc h2 {
	font-family: "Anton", sans-serif;
	font-size: 2.5rem;
}


.flip-card-back, .flip-card-front {
	background-color: #f3f3eb !important;

}

.flip-card-back, .flip-card-front * {
		color: #151515 !important;

}


#topics.card h3 {
		color: #151515 !important;
		font-family: "Space Grotesk";
		font-weight: 100;

}

#topics.card button, .flip-card-front btn {
	color: #151515 !important;
	font-family: "Anton", sans-serif !important;
	font-weight: bold;
	font-size: 1rem;
}

#topics.card {
	background-color: #f3f3eb
}

.flip-card-front li a, .flip-card-back .btn, .flip-card-front button, .form-check-label  {
	font-family: "Anton", sans-serif !important;
}

.flip-card-front h3, .flip-card-back h3 {
	color: #151515 !important;
	font-family: "Space Grotesk";
	font-weight: 100;
}

.card.Meta {
    border-left: none !important;
    outline: none;
    background-color: #f3f3eb;
    font-family: "Roboto", sans-serif;
    font-weight: 100
}

.metaTitle h3 {
	margin-bottom: 0.7rem !important;
	font-family: "Space Grotesk", sans-serif !important;
}

.row.list.overflow h4 {
	background-color: #e6c700;
}

.row.list.overflow {
	font-size: 1rem;
}
