
@font-face {
	font-family: 'Roboto Slab';
  src: url("dada/RobotoSlab-VariableFont_wght.ttf");
}

body {
	 background-color: #eee2d0!important;
}


.navbar, footer {
	 background-color: #eee2d0!important;
}

header{
	font-family: Ransom;
}

.card.overflow h2 {
	font-family: 'Roboto Slab';
	    color: red!important;
	    text-transform: uppercase;
	    font-size: 7em!important;
	    letter-spacing: -25px!important;
	    font-weight: bold!important;
	    position: absolute;
	    z-index: -2;
}

.card#desc {
    font-family: Serif!important;
    background: transparent!important;
    border-radius: 0px;
    /* border: 2px #353535!important; */
    box-shadow: none!important;
}

#desc * {
	width: 50%;
	padding: 39px;
	display: -webkit-box;
}

#desc p, #desc ul {
    color: #353535;
