@font-face {
	font-family: 'Arvo';
  src: url("dada/Arvo/Arvo.ttf");
}

@font-face {
	font-family: 'Alegreya';
  src: url("dada/Alegerya/Alegreya.ttf");
}

@font-face {
	font-family: 'Ransom';
  src: url("dada/Ransom.ttf");
}

@font-face {
	font-family: 'Roboto Slab';
  src: url("dada/RobotoSlab-VariableFont_wght.ttf");
}

@font-face {
	font-family: 'Outbox';
  src: url("dada/Outbox/Outbox.ttf");
}

@font-face {
	font-family: 'WorkSans Black';
  src: url("dada/work-sans/WorkSans-Black.otf");
}

@font-face {
	font-family: 'WorkSans ExtraBold';
  src: url("dada/work-sans/WorkSans-ExtraBold.otf");
}

@font-face {
	font-family: 'WorkSans Bold';
  src: url("dada/work-sans/WorkSans-Bold.otf");
}

@font-face {
	font-family: 'WorkSans SemiBold';
  src: url("dada/work-sans/WorkSans-SemiBold.otf");
}

@font-face {
	font-family: 'WorkSans Medium';
  src: url("dada/work-sans/WorkSans-Medium.otf");
}

@font-face {
	font-family: 'WorkSans Regular';
  src: url("dada/work-sans/WorkSans-Regular.otf");
}
@font-face {
	font-family: 'WorkSans Thin';
  src: url("dada/work-sans/WorkSans-Thin.otf");
}

@font-face {
	font-family: 'WorkSans Light';
  src: url("dada/work-sans/WorkSans-ExtraLight.otf");
}

@font-face {
	font-family: 'WorkSans ExtraLight';
  src: url("dada/work-sans/WorkSans-ExtraLight.otf");
}
@font-face {
	font-family: 'WorkSans Hairline';
  src: url("dada/work-sans/WorkSans-Hairline.otf");
}


body {
	 background-color: #eee2d0!important;
	 font-family: 'Alegreya'!important;
}


nav, footer {
	background: transparent!important;
	border: 0px!important;


}

nav #download-button button{
	background: #eee2d0;
	border: 0px;
	font-size: 10px;

	
} 

nav #download-button button:hover{
	background-color: rgb(72 72 72);	
	color: white;

	
} 

#aside{
	width: 30%;
}

section{
	width: 30%;
}

#aside, section{
	border-bottom: 0px!important;
	border-right: 5px #621616 solid;
}

.sign{
	color: unset!important;
	text-shadow: none!important;
	animation: none!important;
}

.container-fluid{
	border-left: 0px !important;;
	border-bottom: 0px!important;
}

header{
	height: 0%!important;
	font-family: Ransom!important;
	color: #3c466391!important;
}

#row-article {
	height: 100%!important;
    width: 80%;

}
a.disappear, .dropbtn{
	font-family: 'Outbox';
	color: #621616!important;
	font-size: 3em!important;
}

a.disappear:hover, .dropbtn:hover{
	text-decoration: underline white 9px;
}
.descTitle h2 {
    position: absolute;
    width: 3em;
    height: 100%;
    z-index: -50;
    font-family: 'Outbox';
    color: #621616c9!important;
    text-transform: uppercase;
    font-size: 4.5em;
    letter-spacing: -.01em!important;
    font-weight: bold!important;
}


.card#desc {
    
    background: transparent!important;
    border-radius: 0px;
	border: 0px;
    box-shadow: none!important;
	padding: 0!important;
}


.text{
	height: 100%;
    letter-spacing: .15em;
	padding: 0em 10em;
}


.text ul li{
	list-style: none;
}

#desc p, #desc ul{
	color: black;
    font-size: 1em!important;
    text-align: justify;
}

.sign.title {
	position: absolute;
    /* top: 15%; */
    z-index: -100;
    bottom: 50%;
    /* right: 2%; */
    transform: rotate(351deg);
    height: fit-content;
    /* width: 100%; */
    /* padding: .5%; */
    font-family: Ransom!important;
    font-size: 5em!important;
    text-transform: uppercase;
    color: #3c466391!important;
    animation: none;
    text-shadow: 0 0 0 black;

}

.flicker, .fast-flicker {
    animation: none!important;
}

.flip-card-front, .flip-card-back {
	background-color: #eee2d0!important;
	border: 0px!important;

}

.themes, .lens{
	
	color: black!important;
	letter-spacing: 1em!important ;
	overflow-wrap: anywhere;
}

#topics{
	background-color: #eee2d0!important;
    color: #621616!important;
    border: double 15px;
}

.themes, #topics, .lens {
    font-family: 'Worksans Medium'!important;
	
}

.flip-card-front h3, .flip-card-back h3 {
    font-family: 'Worksans Black'!important;
	color: black;
	border-bottom: 0px!important;
}


.reset{
	background-color: #eee2d0!important;
	bottom: unset!important;
    padding-top: unset!important;
}

a.btn{
	color: black!important;
}

.btn-secondary {
	font-size: 0.5em!important;
	color: #621616!important;
	text-align: center;
}

h3 {
    font-size: 1.5em!important;
}


#download-button, .btn.btn-primary{
	border: 0px;
    background: unset;
}
#download-button:hover, .btn.btn-primary:hover{
	color: white;
	background-color: #3c4663;
	border-radius:15px;
}

#download-button .sign, .btn.btn-primary {
	font-family: 'Arvo';
}


.card.Meta {
	border: 1px double #3c4663;
}
.card.overflow {
    border: 0px;
    background: unset;
}

.btn-secondary, a.btn, .form-check-label {
	font-size: 1em!important;
}

/*    text-decoration-thickness: 10px;
    text-decoration-color: black;*/