@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-Regular.otf");
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-Bold.otf");
	font-weight: bold ;
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-BoldItalic.otf");
	font-weight: bold ;
	font-style: italic ;
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-RegularItalic.otf");
	font-style: italic;
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-Medium.otf");
	font-weight: medium;
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-ExtraBold.otf");
	font-weight: 900 ;
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-ExtraBoldItalic.otf");
	font-weight: 900 ;
	font-style: italic ;
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-Light.otf");
	font-weight: 200;
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-LightItalic.otf");
	font-style: italic;
	font-weight: 200;
}
@font-face {
	font-family: GlacialIndifference;
	src: url("future/glacial-indifference/GlacialIndifference-Regular.otf");
}
@font-face {
	font-family: GlacialIndifference;
	src: url("future/glacial-indifference/GlacialIndifference-Bold.otf");
	font-weight: bold;
}

@font-face {
	font-family: Assistant;
	src: url("future/assistant/Assistant-VariableFont_wght.ttf");
}
h1 {
	font-family: GlacialIndifference;
	font-weight: bold;
	font-size: 3.14em;
}

h2 {
	font-family: Metropolis;
	font-style: italic;
	font-weight: 900;
	font-size: 2.71em;
}
h3 {
	font-family: Metropolis;
	font-style: italic;
	font-weight: bold;
	font-size: 2.41em;
}
h4 {
	font-family: Metropolis;
	font-style: italic;
	font-size: 28px;
}
p, ul, .navbar {
	font-family: Assistant;
	margin: 10px;
	font-size: 0.618em;
}
figcaption {
	font-family: Assistant;
	font-weight: 200;
	font-size: 0.618em;
}
img {
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
}
.person {
	cursor: url("personicon.cur"), 4, 12, auto ;
}
.event {
	cursor: url("eventicon.cur"), 4, 12, auto;
}
.institution {
	cursor: url("companyicon.cur"), 4, 12, auto;
}