@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-Regular.otf");
}
@font-face {
	font-family: JoyKim;
	src: url("future/joy-kim/JoyKim-OxWd.ttf") format('ttf');
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-Bold.otf");
	font-weight: bold ;
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-BoldItalic.otf");
	font-weight: bold ;
	font-style: italic ;
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-RegularItalic.otf");
	font-style: italic;
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-Medium.otf");
	font-weight: medium;
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-ExtraBold.otf");
	font-weight: 900 ;
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-ExtraBoldItalic.otf");
	font-weight: 900 ;
	font-style: italic ;
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-Light.otf");
	font-weight: 200;
}
@font-face {
	font-family: Metropolis;
	src: url("future/metropolis/Metropolis-LightItalic.otf");
	font-style: italic;
	font-weight: 200;
}
@font-face {
	font-family: GlacialIndifference;
	src: url("future/glacial-indifference/GlacialIndifference-Regular.otf");
}
@font-face {
	font-family: GlacialIndifference;
	src: url("future/glacial-indifference/GlacialIndifference-Bold.otf");
	font-weight: bold;
}
body {
  --s: 25vmin;
    --p: calc(var(--s)^2);
    --c1: #dfe4ea;
    --c2: black;
    --c3: white;
    /* --bg: blue; */
    --d: 20000ms;
    --e: cubic-bezier(0.6, 0.44, 0.50, 0.6);
  background-color: var(--bg);
  background-image:
    linear-gradient(45deg, var(--c1) 25%, transparent 25%),
    linear-gradient(-45deg, var(--c1) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--c2) 75%),
    linear-gradient(-45deg, transparent 75%, var(--c2) 75%);
  background-size: var(--s) var(--s);
  background-position: 
    calc(var(--p) *  1) calc(var(--p) *  0), 
    calc(var(--p) * -1) calc(var(--p) *  1), 
    calc(var(--p) *  1) calc(var(--p) * -1), 
    calc(var(--p) * -1) calc(var(--p) *  0);
  animation: 
    color var(--d) var(--e) infinite,
    position var(--d) var(--e) infinite;
}

@keyframes color {
  0%, 25% {
    --bg: var(--c3);
  }
  26%, 50% {
    --bg: var(--c1);
  }
  51%, 75% {
    --bg: var(--c3);
  }
  76%, 100% {
    --bg: var(--c2);
  }
}

@keyframes position {
  0% {
    background-position: 
      calc(var(--p) *  1) calc(var(--p) *  0), 
      calc(var(--p) * -1) calc(var(--p) *  1), 
      calc(var(--p) *  1) calc(var(--p) * -1), 
      calc(var(--p) * -1) calc(var(--p) *  0);
  }
  25% {
    background-position: 
      calc(var(--p) *  1) calc(var(--p) *  4), 
      calc(var(--p) * -1) calc(var(--p) *  5), 
      calc(var(--p) *  1) calc(var(--p) *  3), 
      calc(var(--p) * -1) calc(var(--p) *  4);
  }
  50% {
    background-position: 
      calc(var(--p) *  3) calc(var(--p) * 8), 
      calc(var(--p) * -3) calc(var(--p) * 9), 
      calc(var(--p) *  2) calc(var(--p) * 7), 
      calc(var(--p) * -2) calc(var(--p) * 8);
  }
  75% {
    background-position: 
      calc(var(--p) *  3) calc(var(--p) * 12), 
      calc(var(--p) * -3) calc(var(--p) * 13), 
      calc(var(--p) *  2) calc(var(--p) * 11), 
      calc(var(--p) * -2) calc(var(--p) * 12);
  }
  100% {    
    background-position: 
      calc(var(--p) *  5) calc(var(--p) * 16), 
      calc(var(--p) * -5) calc(var(--p) * 17), 
      calc(var(--p) *  5) calc(var(--p) * 15), 
      calc(var(--p) * -5) calc(var(--p) * 16);
  }
}
footer {
	font-family: JoyKim!important;
}
@media (prefers-reduced-motion) {
  body {
    animation: none;
  }
}
.btn-secondary, #topics {
    color: #747d8c!important;
    background-color: #ff6348!important;
}
.themes, #topics {
    font-family: 'Assistant'!important;
}
@font-face {
	font-family: Assistant;
	src: url("future/assistant/Assistant-VariableFont_wght.ttf");
}
h1, header {
	text-align: center!important;
	font-family: GlacialIndifference!important;
	font-weight: bold!important;
	font-size: 3.14em!important; /*pi*/

}
a.btn{
	color: #ff7f50!important;
}
.documentation{
	font-family: Assistant;
}
.btn-secondary, #topics {
    color: #dfe4ea!important;
}
h2 {
	font-family: Metropolis;
	font-style: italic;
	text-align: center!important;
	font-weight: 900;
	font-size: 2.71em; /*square root of 3*/
}
h3 {
	font-family: Metropolis;
	font-style: italic;
	font-weight: bold;
	font-size: 1.67em; /*proton mass*/
	color: #ff7f50;
}
h4 {
	font-family: Metropolis!important;
	font-style: italic!important;
	font-size: 1.618em!important; /*golden ratio*/
}
.sign.title, a.disappear {
	font-family: Metropolis!important;
	font-style: italic!important;
}
h5 {
	font-family: Metropolis;
	font-style: italic;
	font-size: 1.32em; /*Plastic number*/
}
.card#desc {
    box-shadow: none!important;
}
#desc h2 {
	color: black!Important;
}
.card {
	background-color: #dfe4ea!Important;
	border-left: none!important;
  border-right: none!important;
  border-top: none!important;
  border-bottom: none!important;
  padding: 0!important;
  border-radius: 0!important;
}
.container-fluid {
	border: none!important;
	padding: 0!important;
}
.navbar {
	background-color: #ff7f50!important;
	margin-right: 0!Important;
	margin-left: 0!Important;
}
p, ul, li, .navbar {
	font-family: Assistant;
	font-size: 20px;
}
span {
	padding-left: 0.2em;
	padding-top: 0.2em;
}
ul {
	list-style-type: none;
}
header, h1, .person, .date, .institution, .event, .quote, .place {
	color: #ff7f50!important;
}
figcaption {
	font-family: Assistant;
	font-weight: 200;
	font-size: 0.618em; /*golden ratio*/
}
#topics h3 {
	color: #dfe4ea!Important;
}
#desc {
	background: #ff7f50!important;
}
img {
  margin-left: auto;
  margin-right: auto;
  background: none!important;
}
.fast-flicker, .flicker {
	animation: none!important;
}
.flip-card-front, .flip-card-back {
	margin-right: -5px;
	background-color: #dfe4ea!Important;
}
.sign {
	  text-shadow: none!Important;
    animation: none!important;
  }
  .card h2 {
  	color:  #ff7f50!important;
  }
 .img-responsive {
    height: auto;
    width: auto;
    max-height: 50px;
    max-width: 50px;
}
.d-flex {
	float: left;
}