@font-face {
	font-family: JDCarnivalBlack;
  src: url("1800/jd-carnival-black/jd_carnival_black.ttf");
}
@font-face {
	font-family: Essays1743;
	src: url("1800/essays1743/Essays1743.ttf");
}
@font-face {
	font-family: Essays1743;
	src: url("1800/essays1743/Essays1743-Bold.ttf");
	font-weight: bold ;
}
@font-face {
	font-family: Essays1743;
	src: url("1800/essays1743/Essays1743-BoldItalic.ttf");
	font-weight: bold ;
	font-style: italic ;
}
@font-face {
	font-family: Essays1743;
	src: url("1800/essays1743/Essays1743-Italic.ttf");
	font-style: italic;
}
@font-face {
	font-family: JMHLegajo;
	src: url("1800/JMHLegajo/JMH_Legajo.otf");
}
@font-face {
	font-family: JMHLegajo;
	src: url("1800/JMHLegajo/JMH_Legajo_Bold.otf");
	font-weight: bold;
}
@font-face {
	font-family: JMHLegajo;
	src: url("1800/JMHLegajo/JMH_Legajo_Bold_Italic.otf");
	font-style: italic;
	font-weight: bold;
}
@font-face {
	font-family: JMHLegajo;
	src: url("1800/JMHLegajo/JMH_Legajo_Italic.otf");
	font-style: italic;
}
body, div {
	background-color:  #e3ceb9 !important;
}
header {
	font-family: JDCarnivalBlack;
	text-align: center;
	text-transform: uppercase;
}
h1 {
	font-family: JDCarnivalBlack;
	text-align: center;
	text-transform: uppercase;
}
h2, h3 {
	font-family: Essays1743;
	font-weight: bold;
	text-align: center;
}
h4, figcaption {
	font-family: Essays1743;
	font-style: italic;
	text-align: center;
}
p {
	font-family: JMHLegajo;
	float: none;
	text-align: justify;
	text-justify: inter-word;
	margin-right: 5px;
	margin-left: 5px;
}
ul {
	font-family: JMHLegajo;
	margin-right: 5px;
	margin-left: 5px;
}

img {
  float:  left;
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;

  border-radius: 10px;
  margin: 2px;
  background-image: 
      radial-gradient(ellipse, #0000, #0007),
      linear-gradient(0deg, #9725, #9725),
      url(https://i.imgur.com/4rKVgAQ.png)
      background-size: auto, auto, auto, cover;
  background-repeat: repeat;
  background-position: center;
  filter: saturate(0%) sepia(100%) contrast(150%) saturate(150%);;
}
.flip-card-front {
	background-color: #e3ceb9 !important;
	border-left: black 1px solid!important;
  border-right: black 1px solid!important;
  border-top: none!important;
  border-bottom: none!important;
  border-radius: 0!important;
}
.flip-card-back{
	font-size: 16px;
	background-color: #e3ceb9 !important;
	border-left: black 1px solid!important;
  border-right: black 1px solid!important;
  border-radius: 0!important;
}
.card {
	background-color: #e3ceb9 !important;
	border-left: black 1px solid!important;
  border-right: black 1px solid!important;
  border-top: none!important;
  border-bottom: none!important;
  padding: 0!important;
  border-radius: 0!important;
}