@font-face {
	font-family: JDCarnivalBlack;
  src: url("1800/jd-carnival-black/jd_carnival_black.ttf");
}
@font-face {
	font-family: Essays1743;
	src: url("1800/essays1743/Essays1743.ttf");
}
@font-face {
	font-family: Essays1743;
	src: url("1800/essays1743/Essays1743-Bold.ttf");
	font-weight: bold ;
}
@font-face {
	font-family: Essays1743;
	src: url("1800/essays1743/Essays1743-BoldItalic.ttf");
	font-weight: bold ;
	font-style: italic ;
}
@font-face {
	font-family: Essays1743;
	src: url("1800/essays1743/Essays1743-Italic.ttf");
	font-style: italic;
}
@font-face {
	font-family: JMHLegajo;
	src: url("1800/JMHLegajo/JMH_Legajo.otf");
}
@font-face {
	font-family: JMHLegajo;
	src: url("1800/JMHLegajo/JMH_Legajo_Bold.otf");
	font-weight: bold;
}
@font-face {
	font-family: JMHLegajo;
	src: url("1800/JMHLegajo/JMH_Legajo_Bold_Italic.otf");
	font-style: italic;
	font-weight: bold;
}
@font-face {
	font-family: JMHLegajo;
	src: url("1800/JMHLegajo/JMH_Legajo_Italic.otf");
	font-style: italic;
}
body, div {
	background-color:  #e3ceb9 !important;
}
header {
	font-family: JDCarnivalBlack!important;
	text-align: center!important;
	text-transform: uppercase!important;
	color: black!important;
}
h1 {
	font-family: JDCarnivalBlack;
	text-align: center;
	text-transform: uppercase;
	font-family: 22px!important;
}
h2, h3, .home {
	font-family: Essays1743!important;
	font-weight: bold;
	text-align: center;
	font-size: 20px!important;
}
h4, figcaption {
	font-family: Essays1743;
	font-style: italic;
	font-family: 18px!important;
}
p {
	font-family: JMHLegajo;
	float: none;
	text-align: justify;
	text-justify: inter-word;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	font-size: 16px!important;
}
ul, button {
	font-family: JMHLegajo!important;
	margin-right: 5px!important;
	margin-left: 5px!important;
}
ul {
	list-style-type: none!important;
	padding: 0!important;
	margin: 0!important;
}
img {
  float:  left;
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;

  border-radius: 10px;
  margin: 2px;
  background-image: 
      radial-gradient(ellipse, #0000, #0007),
      linear-gradient(0deg, #9725, #9725),
      url(https://i.imgur.com/4rKVgAQ.png)
      background-size: auto, auto, auto, cover;
  background-repeat: repeat;
  background-position: center;
  filter: saturate(0%) sepia(100%) contrast(150%) saturate(150%);;
}
.flip-card-front {
	background-color: #e3ceb9 !important;
	border-left: black 1px solid!important;
  border-right: black 1px solid!important;
  border-top: none!important;
  border-bottom: none!important;
  border-radius: 0!important;
}
.flip-card-back{
	font-size: 16px;
	background-color: #e3ceb9 !important;
	border-left: black 1px solid!important;
  border-right: black 1px solid!important;
  border-radius: 0!important;
}
.card {
	background-color: #e3ceb9 !important;
	border-left: black 1px solid!important;
  border-right: black 1px solid!important;
  border-top: none!important;
  border-bottom: none!important;
  padding: 0!important;
  border-radius: 0!important;
}
#desc{
	background: none!important;
	border-left: black 1px solid!important;
  border-right: black 1px solid!important;
  border-top: none!important;
  border-bottom: none!important;
  padding: 0!important;
  border-radius: 0!important;
}
.card#desc {
    box-shadow: none!important;
}
.themes h3 {
	border-bottom: 0.5px solid black!important;
}
#article-1 h1, #article-2 h1, #article-3 h1,#article-1 h2, #article-2 h2, #article-3 h2 {
	background-color:  #e3ceb9 !important;
}
#desc h2, #desc p, #desc ul {
	color: black!important;
	background-image: none!important;
}

.navbar {
	padding: 0px!important;
	border-left: none!important;
	border-right: none!important;
}
.fast-flicker, .flicker {
	animation: none!important;
}
button {
	background-color: #e3ceb9 !important;
}
button .sign, .home, footer {
	font-family: Essays1743!important;
	font-weight: bold!important;
	text-align: center!important;
}
header .sign {
	font-family: JDCarnivalBlack!important;
	text-align: center!important;
	text-transform: uppercase!important;
	color: black!important;
	animation: none!important;
	color: black!important;
}
.card .Meta {
	border-left: black 1px solid !important;
	border-right: black 1ps solid !important;
}
#metaview-1, #metaview-2, #metaview-3{
	width: 80%;
}
.sign {
	color: black!important;
	text-shadow: none!important;
	animation: none!important;
}
.sign.title {
	font-size: 2em!important;
}
#topics {
	color: black!Important;
}
#topics .card {
	color: #5c5c3d!important;
}
.row{
	margin-top: 0!important;
  margin-right: 0!important;
  margin-left: 0!important;
}
footer {
	background-color: #e3ceb9 !important;
}
.btn-secondary, #topics {
    color: black!important;
}